<%- include("partials/header") -%>
<h3>Login</h3>

<form method="POST" action="/login">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Login</button>
</form>
<%- include("partials/footer") -%>
